* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: teal;
}

.logo {
	color: rgb(228, 228, 228);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: rgb(228, 228, 228);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
}

.burger div {
	width: 30px;
	height: 3px;
	background-color: white;
	margin: 5px;
	transition: all 0.6s ease;
}

.burger {
	display: none;
}

@media screen and (max-width: 1024px) {
	.nav-links {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		right: 0px;
		top: 8vh;
		height: 92vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: teal;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.6s ease-in;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
		cursor: pointer;
	}

	@keyframes nav-links-appear {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}
}

.nav-active {
	transform: translateX(0%);
}

.toggle .line-1 {
	transform: rotate(-45deg) translate(-5px, 6px);
	/* transition: transform 0.6s ease; */
}

.toggle .line-2 {
	opacity: 0;
	/* transition: opacity 0.3s ease; */
}

.toggle .line-3 {
	transform: rotate(45deg) translate(-5px, -6px);
	/* transition: transform 0.6s ease; */
}
