.gallery-content-row,
.item-content-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.gallery-content-row {
	justify-content: space-around;
}

.gallery-img-size {
	/* flex: calc(45 / 200); */
	margin: 0.4rem;
	height: 80%;
	width: 80%;
}

.item-content {
	margin: auto;
}

.item-content-row {
	justify-content: space-around;
}

.item-links-active {
	background-color: grey;
	background-color: lightblue;
}

.item-img-size {
	margin: 0.4rem;
	height: 80%;
	width: 80%;
}

.item-switcher-div {
	text-align: center;
	margin-bottom: 2rem;
}

.item-switcher-div > ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.item-switcher-div > ul > li {
	margin-right: 3rem;
}

.item-switcher-div > ul > li:last-child {
	margin-right: 0;
}

.tm-catalog-item {
	margin: 0;
	padding: 0;
	margin-bottom: 2rem;
	display: block;
	text-align: center;
}

@media screen and (max-width: 804px) {
	.gallery-content-row {
		display: block;
		text-align: center;
	}

	.gallery-img-size {
		height: 60%;
		width: 60%;
	}

	.item-content-row {
		display: block;
		text-align: center;
	}

	.item-img-size {
		height: 60%;
		width: 60%;
	}

	.tm-catalog-item {
		max-width: none;
		display: block;
	}

	.item-switcher-div > ul {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.item-switcher-div > ul > li {
		margin-right: 0;
	}
}

.socials-div {
	display: flex;
	margin-top: 8vh;
	justify-content: space-around;
}

/* @media (min-width: 1440px) {
	.gallery-content {
		margin: auto;
	}
} */

/* @media (max-width: 575px) {
	.tm-catalog-item {
		margin-left: auto;
		margin-right: auto;
	}
} */

/* @media (max-width: 1439px) {
	.gallery-content {
		margin-left: 15px;
		margin-right: 15px;
	}
} */

/* .gallery-content-row {
	margin-right: 10px;
}

.gallery-content-row:last-child {
	margin-right: 0;
} */

/* @media screen and (max-width: 575px) {
	.gallery-content-row {
		flex-direction: column;
	}

	.item-content-row {
		flex-direction: column;
	}
} */

/* 575 x 648 */
/* 1440 x 968 */
