
@media (max-width: 575px) {
	.tm-catalog-item {
		margin-left: auto;
		margin-right: auto;
	}
	/* body {
		background-color: red;
	} */
}

@media (min-width: 1440px) {
	.gallery-content {
		margin: auto;
	}
}
@media (max-width: 1439px) {
	.gallery-content {
		margin-left: 15px;
		margin-right: 15px;
	}
}

/* 575 x 648 */
/* 1440 x 968 */

.tm-catalog-item {
	margin-bottom: 2rem;
}

.item-content {
	margin: auto;
}
