.tab {
	display: flex;
	padding-right: 10px;
}

.tab-links-active {
	background-color: lightblue;

	/* background-color: grey; */
}

.item-links-active {
	/* background-color: grey; */
	background-color: lightblue;

}
