/* root (variables, and scroll padding for the navbar) */
:root {
	--discover-button-top: 70%;
	--discover-button-left: 50%;
	--title-text-div-top: 40%;
	--title-text-div-left: 50%;
	--navbar-responsive-toggle-bar-height: 3px;
	--navbar-responsive-toggle-bar-width: 35px;

	--main-color-300: hsl(189, 90%, 60%);
	--main-color-350: hsl(189, 90%, 50%);
	--main-color-400: hsl(189, 90%, 40%);
	--main-color-450: hsl(189, 90%, 30%);
	--main-color-500: hsl(189, 90%, 20%);
	--main-color-550: hsl(189, 90%, 10%);
	--main-color-600: hsl(189, 90%, 0%);

	--dark-color-500: hsl(186, 50%, 4%);
	--dark-color-400: hsl(186, 50%, 24%);
	--dark-color-450: hsl(186, 50%, 34%);
	--dark-color-300: hsl(186, 50%, 44%);

	scroll-padding-top: 5px;
	scroll-behavior: smooth;
}

/* main page div (has the background img, etc) */
.main-page-div {
	background-image: url("https://via.placeholder.com/150");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100vw;
	height: 100vh;
}

.navbar-div {
	position: relative;
	text-align: center;
	width: 100%;
	/* height: 40px; */
	padding-top: 1.3rem;
	transition: background-color 0.2s ease-in-out;
}

.nav-ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 2ch;
}

.nav-li {
	list-style: none;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	font-size: 2.2ch;
}

.nav-li a {
	color: var(--dark-color-500);
}

.nav-li a:hover {
	color: var(--main-color-400);
}

.navbar-div.sticky-nav {
	position: fixed;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 999;
	transition: background-color 0.2s ease-in-out;
	background-color: var(--main-color-450);
	justify-content: center;
	align-items: center;
	text-align: center;
}

#navbar-responsive-toggle.sticky-nav {
	position: fixed;
	/* padding-top: 5px; */
	padding-bottom: 5px;
	z-index: 999;
}

.navbar-div.sticky-nav > .nav-ul > .nav-li > a {
	color: var(--dark-color-500);
}
.navbar-div.sticky-nav > .nav-ul > .nav-li > a:hover {
	color: var(--dark-color-450);
}
.navbar-div.sticky-nav > .nav-ul > .nav-li {
	text-align: center;
}

.navbar-div-responsive {
	display: none;
}

#navbar-responsive-toggle {
	display: none;
}

@media screen and (max-width: 804px) {
	.title-text-div {
		font-size: 15px;
	}

	/* .discover-button {
		margin-top: 0.3rem;
	} */

	/* .title-text {
		font-size: 1123ch;
	} */
	/* display none to the normal div */
	.navbar-div {
		display: none;
	}

	/* give a simple margin to the burger */
	#navbar-responsive-toggle {
		display: block;
		position: absolute;
		z-index: 100;
		right: 0;
		margin-top: 0.4rem;
		margin-right: 0.8rem;
	}

	/* style the navbar div */
	.navbar-div-responsive {
		background-color: teal;
		height: 100%;
		width: 100%;
		position: fixed;
		margin-bottom: 2rem;
		z-index: 10;
		right: 0;
		animation-name: open-nav;
		animation-duration: 0.6s;
	}

	/* style the navbar ul */
	.nav-ul-responsive {
		list-style: none;
		display: flex;
		padding: 0;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.nav-ul-responsive > li {
		margin-top: 2.3rem;
		margin-bottom: 2.3rem;
	}

	.nav-ul-responsive > li > a {
		color: black;
	}

	/* style the burger lines */
	.navbar-responsive-toggle-bar {
		background-color: teal;
		width: var(--navbar-responsive-toggle-bar-width);
		height: var(--navbar-responsive-toggle-bar-height);
		margin: 8px;
		/* margin-top: 1rem; */
	}

	/* animate each indiviual burger line */
	.navbar-responsive-toggle-bar-1 {
		transform: rotate(-45deg) translate(-8px, 7px);
		background-color: black;
		transition: all 0.3s ease;
	}

	.navbar-responsive-toggle-bar-2 {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s 0.2s, opacity 0.2s linear;
	}

	.navbar-responsive-toggle-bar-3 {
		transform: rotate(45deg) translate(-8px, -7px);
		background-color: black;
		transition: all 0.3s ease;
	}

	@keyframes open-nav {
		0% {
			width: 0;
		}
		100% {
			width: 100%;
		}
	}
}

.title-text-div {
	text-align: center;
	width: 100vw;
	position: absolute;
	top: var(--title-text-div-top);
	left: var(--title-text-div-left);
	transform: translate(
		calc(-1 * var(--title-text-div-left)),
		calc(-1 * var(--title-text-div-top))
	);
}

.title-text {
	font-size: 10ch;
}

.discover-button {
	cursor: pointer;
	position: absolute;
	top: var(--discover-button-top);
	left: var(--discover-button-left);
	transform: translate(
		calc(-1 * var(--discover-button-left)),
		calc(-1 * var(--discover-button-top))
	);
	background-color: var(--main-color-400);
	padding: 0.4em 0.5em 0.4em 0.5em;
	border-radius: 0.4rem;
	border: none;
	outline: none;
}

.discover-button:focus {
	outline: none;
	border: none;
}

@media screen and (max-width: 380px) {
	.title-text {
		font-size: 8ch;
	}

	.discover-button {
		position: absolute;
		top: calc(-1 * (var(--discover-button-top) - 127%));
		left: var(--discover-button-left);
		transform: translate(
			calc(-1 * var(--discover-button-left)),
			calc(-1 * (var(--discover-button-top) - 127%))
		);
	}
}
